p {
    color: rgb(0, 195, 255);
    font-style: italic;
}
.uno .tres{
    background-color: red;
  }
  .uno>.tres{
    font-size: 50px;
  }
  
  .dos{
    font-style: italic;
    text-align: center;
  }
  